@fon-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
    url("/fonts/roboto.woff2") format("woff2"),
    url("/fonts/roboto.woff") format("woff");
}

@fon-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 700;
  src: local("RobotoBold"),
    url("/fonts/robotobold.woff2") format("woff2"),
    url("/fonts/robotobold.woff") format("woff");
}

@fon-face {
  font-family: 'RobotoMedium';
  font-style: normal;
  font-weight: 500;
  src: local("RobotoMedium"),
    url("/fonts/robotomedium.woff2") format("woff2"),
    url("/fonts/robotomedium.woff") format("woff");
}
:root{
  --basic-color: #EEEEEE;
  --font-neutral-black: #000000;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  width: auto;
  height: auto;
}
.main-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu-sort{
display: flex;
list-style: none;
}
.menu-list-sort{
  margin: 10px 40px;
}
.menu-link-sort{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-neutral-black);
}

.gallery-path {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: grey;
  border-radius: 50%;
}

.block {
  border: 1px solid black;
  width: 358px;
  height: 556px;
}

.gallery-page {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  color: black;
  background: #DBDBDB;
  text-align: center;
  border-radius: 3px;
}

.gallery-next {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 50px;
  color: black;
  background: #DBDBDB;
  text-align: center;
  border-radius: 3px;
}

.gallery-page,
.gallery-next:hover {
  border: 3px solid #DBDBDB;
  background: white;
}
